@model Mvc_Project_In_Mac.Models.HomeViewModel
<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<label>@Model.Name</label>
<label>@Html.DisplayFor(item => item.What)</label>